<header class="hero">
    <img src="Header-bg.svg" class="hero-bg" alt="Background" />
    <nav class="navbar">
      
      <div class="nav-links ms-auto">
        <a [routerLink]="['/login']" class="btn">Login</a>
      </div>
    </nav>
    <div class="hero-content">
      <div class="logo">
        <img src="Logo.svg" alt="TechPrimeLab" />
      </div>
      <h1>Welcome to TechPrimeLab</h1>
      <p>Innovating the future, one project at a time.</p>
      <a routerLink="project" class="cta-btn">Explore Projects</a>
    </div>

  </header>